@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}

img{
    width: 100vw;
}

a{
    display: block;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    background-color: darkred;
}

a:hover{
    color: black;
    background-color: red;
}